form {
  --background: rgba(255, 255, 255, 1);
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --borderRadius: 0.125rem;
  /* almost white background color */
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  /* dark blue foreground color */
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
}
